<div>
    <app-nav-menu></app-nav-menu>
</div>


<div class="container">

    <H1>Modificar Perfil Del Estudiante</H1>

    <br> <br>

    <h3 style="text-align: center ;">Modificar Correo</h3> <br> <br>

    <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1">Nuevo Correo</span>
        <input [(ngModel)]="correo" name="correo" type="text" class="form-control" aria-label="Username"
            aria-describedby="basic-addon1">
        <button type="button" class="btn btn-warning btn-sm">Registrar Correo</button>
    </div>

    <br> <br> 

    <h3 style="text-align: center ;">Modificar Telefono</h3> <br> <br>
    <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1">Nuevo Telefono</span>
        <input [(ngModel)]="telefono" name="telefono" type="text" class="form-control" aria-label="Username"
            aria-describedby="basic-addon1">
        <button (click)=" validarNuevaClave()" type="button" class="btn btn-warning btn-sm">Registrar Telefono</button>
    </div>



    <br> <br> 
    <h3 style="text-align: center">Modificar clave de acceso</h3>

    <br> <br>
    <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1">Nueva clave</span>
        <input [(ngModel)]="claveNew" name="claveNew" type="text" class="form-control" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <br>
    <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon2">Confirme clave</span>
        <input [(ngModel)]="claveValidar" name="claveValidar" type="text" class="form-control" aria-label="Username"
            aria-describedby="basic-addon2">
    </div>

    <br>
    <div style="text-align: center;">
        <button (click)=" validarNuevaClave()" type="button" class="btn btn-warning btn-sm">Registrar Nueva Clave</button>
    </div>




    <br> <br> <br> <br>

</div>