<div>
    <app-nav-menu></app-nav-menu>
</div>

<div class="container">

    <h1>Eliminar proyectos</h1>
    <form>
        <div class="form-group">
            <label for="exampleInputPassword1">Referencia a eliminar</label>
            <input type="text" class="form-control" name="referenciaEliminar" [(ngModel)]="referenciaEliminar"
                placeholder="Ingrese identificación del estudiante">
        </div>
        <button type="submit" class="btn btn-danger" (click)="eliminar()">Eliminar </button>
    </form> <br><br>


    <h1>Modificar proyectos</h1><br>
    <form>
        <div class="form-group">
            <label for="exampleInputPassword1">Referencia a modificar</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="proyecto.identificacion"
                placeholder="Ingrese identificación del estudiante">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nuevo nombre del estudiante</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="proyecto.nombreEstudiante"
                placeholder="Ingrese nombre del estudiante">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nuevo titulo del proyecto</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="proyecto.tituloProyecto"
                placeholder="Ingrese titulo del proyecto">
        </div>
        <button type="submit" class="btn btn-primary" (click)="modificar()">Modificar</button>
    </form> <br><br>
</div>