<div>
    <app-nav-menu></app-nav-menu>
</div>

<div class="container">
    <h1>Lista de Peticiones</h1>
    <br><br><br>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Codigo Proyecto</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombre Estudiante </th>
                    <th scope="col">Titulo Proyecto </th>
                </tr>
            </thead>
        </table>
        <br><br><br>
    </div>
</div>