<div>
    <app-nav-funcionario></app-nav-funcionario>
</div>

<div class="container">
    <h1>Lista de Proyectos</h1>
    <br><br><br>
    <div>
        <div class="input-group">
            <input type="text" class="form-control rounded" name="filtro" [(ngModel)]="identificacionFiltro"
                placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-warning" (click)="filtroPersona()">Filtrar</button>
            <button type="button" class="btn btn-info" style="margin-left: 10px" (click)="ngOnInit()">Limpiar</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Codigo Proyecto</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombre Estudiante </th>
                    <th scope="col">Titulo Proyecto </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of personas; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.identificacion }} </td>
                    <td>{{ item.nombreEstudiante }}</td>
                    <td>{{ item.tituloProyecto }}</td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
    </div>
</div>