#imgRegistro{
    margin-left:45%;
    width: 15%;
  }
  
  #contenedorVisibilidad{
     margin-left: 20%;
     text-align: justify;
     font-size: large;
  }
  
  
  #contenedor2TelCorreo{
    margin-left: 20%;
  }