<div>
  <app-nav-menu></app-nav-menu>
</div>

<div class="container">
  <h1>Perfil del Estudiante</h1>
  <br><br>
  <div>
    <div class="form-group">
      <label for="exampleInputEmail1">Identificacion</label>
      <input type="text" class="form-control" name="id" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Nombre</label>
      <input type="text" class="form-control" name="nombre" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Correo Electronico</label>
      <input type="text" class="form-control" name="correo" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Telefono</label>
      <input type="text" class="form-control" name="telefono" disabled>
    </div>
  </div>
</div> <br><br>